.gitignore
.nyc_output/**
.releaserc.yaml
.vscode/**
build/bin/**
coverage/**
dist_test/**
hlasmplugin.log
lib/**
lib_syntaxes/**
prepare_release.sh
readme_res/**
scripts/**
src/**
start_release.sh
terse/**
tsconfig.json
CMakeLists.txt
bin/wasm/*
!bin/wasm/hlasm_language_server.wasm
!bin/wasm/hlasm_language_server_web.js
